.ewm-content {
    width: 5.60rem;
    background-color: #fff;
    border-radius: .10rem;
    border: solid 1px #d1d1d1;
    padding: .35rem .5rem .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.doctor-right{
    display: inline-block;
    vertical-align: top;

}
.ewm-img{
    /*background: red;*/
    width: 5.58rem;
    height: 5.58rem;
    margin: .4rem auto .3rem;
}
.ewm-img img{width: 100%;height: 100%}
.prompt{
    font-size: .26rem;
    color: #adadad;
    text-align: center;
}









